html {
  font-size: 10px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  background: #e1e1e1;
}
#main {
  margin: 30px 8px;
  padding: 10px;
  border-radius: 20px;
  background: #626262;
}
@media (max-width: 460px){
  #main {
    margin: 0;
  }
}
h1 {
  font-size: 40px;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 460px) {
  h1 {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}
h2 {
  font-size: 3rem;
  color: #111111;
  font-family: calibri;
  text-align: center;
  margin: 0 auto;
}
hr {
  color: #222222;
}
p {
  color: #111111;
  text-align: center;
  font-family: verdana;
}
ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

#img-div {
  background: #000;
  padding: 3px;
  color: white;
  border-radius: 20px;
}
#img-caption {
  text-align: center;
  font-family: system-ui;
  color: #e1e1e1;
}
@media (max-width: 460px){
  line-height: 1.4;
}
img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#tribute-info {
  text-align: justify;
  color: #111111;
  font-size: 1.9rem;
}

#tribute-link {
  text-transform: lowercase;
}
